
body {
    margin: 0;
    padding: 0;
 /* background-color: #333;
    color:rgb(97, 0, 161);*/
    background-color: #F6F8FA;
    font-family: 'Times New Roman', Times, serif;
}


  .frmFormulario {
    background-color: white;
      border: 3px solid #f1f1f1;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      width: 70%;
      border-radius: 10px;
      box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2); ;
    }

 .frmFormulario input[type=text],.frmFormulario input[type=password], .frmFormulario input[type=email]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 16px;
    }

   .frmFormulario button {
      background-color:#e08234;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-top: 30px;
      font-family: 'Times New Roman', Times, serif;
  }
      
  .frmFormulario button:hover {
  opacity: 0.8;
  }

  .frmFormulario label, .frmFormulario button{
     font-weight: bold;
      font-size: larger;
  }

  h3,h2,h1{
      text-align: center;
  }

  .frmMargen{
      margin: 120px;
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .tablaDatos table{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .tablaDatos thead, .tablaDatos th{
    background-color: #333;
    color: #ffffff;
  }

  .tablaDatos th, .tablaDatos td{
    border: #000000 1px solid;
    padding: 5px;
  }

  .tablaDatos tr:nth-child(even) {
    background-color: #85807d3b;
    
  }

  .frmBuscar{
    font-size: 14px;
    margin: 10px;
  }

  .frmBuscar input[type=text]{
    width: 400px;
    border-radius: 20px;
  }
  .frmBuscar button{
    width: auto;
    border-radius: 20px;
  }

  .cancel{
    background-color: #333;
    color: #ffff;
    text-decoration: none;
    font-size: larger;
    padding: 10px 10px;
    margin: 30px;
  }

  .btnEditar, .btnEliminar{
    color: #ffff;
    text-decoration: none;
    padding: 3px;
    margin: 3px;
    display: block;
    text-align: center;
    font-size: large;
  }
  .btnEliminar{
    background-color: #D9534F;
  }
  .btnEditar{
    background-color: #5CB85C;
  }
