
body{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .bntSesion{
      float: right;
  }

  form {
      border: 3px solid #f1f1f1;
      margin-right: auto;
      margin-left: auto;
      width: 70%;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      
      }
button {
    background-color: #3D7FCB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20;
}
      
button:hover {
opacity: 0.8;
}

label{
    font-weight: bold;
    font-size: 20;
}

h3,h2,h1{
    text-align: center;
}

.frmMargen{
    margin: 120px;
    margin-top: 50px;
}