
body {
    margin: 0;
    padding: 0;
  /*background-color: #333;
    color:rgb(255, 47, 82);*/
    background-color: #F6F8FA;
    font-family: 'Times New Roman', Times, serif;
}


  .frmInicioSesion {
    background-color: white;
      border: 3px solid #f1f1f1;
      margin-right: auto;
      margin-left: auto;
      width: 70%;
      border-radius: 10px;
      box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2); ;
    }

 .frmInicioSesion input[type=text],.frmInicioSesion  input[type=password], .frmInicioSesion input[type=email]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 16px;
    }

   .frmInicioSesion button {
      background-color:#e08234;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 20;
      margin-top: 30px;
      font-family: 'Times New Roman', Times, serif;
  }
      
  .frmInicioSesion button:hover {
  opacity: 0.8;
  }

  .frmInicioSesion label, .frmInicioSesion button{
      font-weight: bold;
      font-size: 20;
  }

  h3,h2,h1{
      text-align: center;
  }

  .frmMargen{
      margin: 120px;
      margin-top: 50px;
      margin-bottom: 50px;
  }

